html {
    /*//////////////////////////*\
    | Theme variables
    \*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

    --blurple-color-selection--neutral: #4f505a;
    --blurple-color-selection--neutral-darker: #3f4048;
    --blurple-color-selection--neutral-lighter: #6d6e77;
    --blurple-color-selection--blue: #0074e3;
    --blurple-color-selection--blue-darker: #055db0;
    --blurple-color-selection--blue-lighter: #3f8cea;
    --blurple-color-selection--blurple: #5865f2;
    --blurple-color-selection--blurple-darker: #4452bb;
    --blurple-color-selection--blurple-lighter: #6d80f6;
    --blurple-color-selection--green: #00863a;
    --blurple-color-selection--green-darker: #046b2e;
    --blurple-color-selection--green-lighter: #3b9d54;
    --blurple-color-selection--red: #d22d39;
    --blurple-color-selection--red-darker: #a8242d;
    --blurple-color-selection--red-lighter: #e45253;
    --blurple-color-selection--teal: #00818a;
    --blurple-color-selection--teal-darker: #03676f;
    --blurple-color-selection--teal-lighter: #3b97a0;
    --blurple-color-selection--yellow: #a16300;
    --blurple-color-selection--yellow-darker: #834d02;
    --blurple-color-selection--yellow-lighter: #b57b2e;
    --blurple-color-selection--orange: #bd4f00;
    --blurple-color-selection--orange-darker: #983e02;
    --blurple-color-selection--orange-lighter: #cf6a2e;
    --blurple-color-selection--pink: #ff4cd2;
    --blurple-color-selection--pink-darker: #c83fa4;
    --blurple-color-selection--pink-lighter: #ff6ad9;

    --blurple-color-background: #323339;
    --blurple-color-background-darker: #2c2d32;
    --blurple-color-background--mentionned: rgba(161, 99, 0, 0.08);
    --blurple-color-background--mentionned-aside: #ce9c5c;
    --blurple-color-background--focused: rgba(88, 101, 242, 0.16);
    --blurple-color-background--focused-finished: rgba(88, 101, 242, 0);
    --blurple-color-border: rgba(151, 151, 159, 0.2);
    --blurple-color-border-focused: rgba(151, 151, 159, 0.12);
    --blurple-border_radius-border: 8px;
    --blurple-color-background--code: rgba(88, 101, 242, 0.08);
    --blurple-border_radius-border--code: 4px;
    --blurple-line_height-chat: 1.375rem;

    --blurple-color-text: #dfe0e2;
    --blurple-color-text--primary: #fff;
    --blurple-color-text--secondary: #c4c5c9;
    --blurple-color-text--tertiary: #adaeb4;
    --blurple-color-text--critical: #fd928d;
    --blurple-color-text--warning: #daac74;
    --blurple-color-text--positive: #75c383;
    --blurple-color-text--info: #83b5f6;
    --blurple-color-text--nitro: #ff7cdd;

    --blurple-color-button--primary: #5865f2;
    --blurple-color-button--primary-darker: #4452bb;
    --blurple-color-button--critical: #d22d39;
    --blurple-color-button--critical-darker: #bc2934;
    --blurple-color-button--active: #00863a;
    --blurple-color-button--active-darker: #057834;
    --blurple-color-button: rgba(0, 0, 0, 0.52);
    --blurple-color-button-darker: rgba(0, 0, 0, 0.64);
    --blurple-color-button--chat: #393a41;

    /*//////////////////////////*\
    | Fallback & classic variables
    \*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

    --general-text-color: var(--blurple-color-text);
    --general-background: var(--blurple-color-background-darker);

    --kbd-background: var(--blurple-color-background--code);
    --kbd-border-color: var(--blurple-color-border);
    --kbd-text-color: var(--blurple-color-text);

    --button-background: var(--blurple-color-button);
    --button-border-color: var(--blurple-color-border);
    --button-text-color: var(--blurple-color-text--primary);
    --button-text-color-disabled: var(--button-text-color);
    --button-border-color-disabled: var(--button-border-color);
    --button-background-disabled: var(--button-background);
    --button-text-color-hover: var(--button-text-color);
    --button-border-color-hover: var(--button-border-color);
    --button-background-hover: var(--blurple-color-button-darker);

    --dangerous-button-text-color: var(--blurple-color-text--primary);
    --dangerous-button-background: var(--blurple-color-button--critical);
    --dangerous-button-border-color: var(--blurple-color-border);
    --dangerous-button-text-color-hover: var(--dangerous-button-text-color);
    --dangerous-button-background-hover: var(--blurple-color-button--critical-darker);
    --dangerous-button-border-color-hover: var(--dangerous-button-border-color);

    --floating-panel-text-color: var(--blurple-color-text);
    --floating-panel-border-color: var(--blurple-color-border);
    --floating-panel-background: var(--blurple-color-background);

    --bubble-background: var(--blurple-color-background);
    --bubble-text-color: var(--blurple-color-text);

    --palette-background: var(--blurple-color-background);
    --palette-item-border-color: var(--blurple-color-border);
    --palette-overlay-background: var(--palette-background);
    --palette-overlay-text-color: var(--blurple-color-text);
    --palette-deselect-button-color: var(--palette-overlay-text-color);
    --palette-number-text-color: var(--blurple-color-text);
    --palette-number-background-color: var(--blurple-color-background);

    --cursor-text-color: var(--blurple-color-text);
    --cursor-text-background-color: var(--blurple-color-background);

    --undo-text-color: var(--blurple-color-text);
    --undo-background: var(--blurple-color-background);
    --undo-border-color: var(--blurple-color-border);

    --input-text-color: var(--blurple-color-text);
    --input-background: var(--blurple-color-background-darker);
    --input-border-color: var(--blurple-color-border);
    --input-placeholder-text-color: var(--blurple-color-text--secondary);

    --text-blue-color: var(--blurple-color-selection--blue);
    --text-green-color: var(--blurple-color-selection--green);
    --text-red-color: var(--blurple-color-selection--red);
    --text-muted-color: var(--blurple-color-text--secondary);
    --text-yellow-color: var(--blurple-color-selection--yellow);
    --text-orange-color: var(--blurple-color-selection--orange);

    --copypulse-color: var(--blurple-color-button--primary);
    --error-color: var(--blurple-color-text--critical);
    --notification-color: var(--blurple-color-button--active);
    --ping-highlight-color: var(--blurple-color-background--mentionned);
    --ping-flash-color: var(--blurple-color-background--mentionned-aside);
    --ping-counter-color: var(--blurple-color-background--mentionned-aside);
    --reply-highlight-color: var(--blurple-color-background--mentionned);
    --notification-expiry-color: var(--blurple-color-text--secondary);

    --panel-background: var(--blurple-color-background);
    --panel-text-color: var(--blurple-color-text);
    --panel-border-color: var(--blurple-color-border);
    --panel-header-text-color: var(--blurple-color-text--primary);
    --panel-header-background: transparent;
    --panel-footer-text-color: var(--blurple-color-text--secondary);
    --panel-footer-background: transparent;
    --panel-close-button-color: var(--panel-text-color);
    --panel-close-button-color-hover: var(--blurple-color-button--critical);
    --panel-close-button-color-active: var(--blurple-color-button--critical-darker);

    --panel-article-background: transparent;
    --panel-article-text-color: var(--panel-text-color);
    --panel-article-border-color: transparent;
    --panel-article-header-text-color: var(--panel-header-text-color);
    --panel-article-header-background: var(--panel-header-background);
    --panel-article-footer-text-color: var(--panel-footer-text-color);
    --panel-article-footer-background: var(--panel-footer-background);

    --panel-trigger-outline-color: var(--blurple-color-text);

    --chat-separator-color: transparent;
    --chat-odd-background: transparent;
    --chat-abbr-underline-color: var(--blurple-color-text--tertiary);
    --chat-badge-background: var(--blurple-color-border);
    --chat-badge-text-color: var(--blurple-color-text);
    --chat-mention-text-color: var(--blurple-color-button--primary);
    --chat-server-action-text-color: var(--blurple-color-text--secondary);
    --chat-user-text-shadow-color: transparent;
    --chat-purged-text-color: var(--blurple-color-text--tertiary);
    --chat-shadowbanned-text-color: var(--blurple-color-text--critical);

    --chat-tobottom-text-color: var(--blurple-color-text--primary);
    --chat-tobottom-background: var(--blurple-color-button--primary);
    --chat-tobottom-text-color-hover: var(--chat-tobottom-text-color);
    --chat-tobottom-background-hover: var(--blurple-color-button--primary-darker);

    --chat-typeahead-menu-background: var(--blurple-color-background-darker);
    --chat-typeahead-item-text-color: var(--blurple-color-text);
    --chat-typeahead-item-background: transparent;
    --chat-typeahead-item-background-hover: var(--blurple-color-border-focused);
    --chat-typeahead-item-background-active: var(--blurple-color-border);

    --emoji-picker-border-color: var(--blurple-color-border);
    --emoji-picker-background: var(--blurple-color-background);
    --emoji-picker-preview-name-text-color: var(--blurple-color-text);
    --emoji-picker-tab-icon-color: var(--blurple-color-text);
    --emoji-picker-tab-icon-color-selected: var(--blurple-color-button--primary);
    --emoji-picker-section-text-color: var(--blurple-color-text--secondary);
    --emoji-picker-emoji-background-hover: var(--blurple-color-button--chat);
    --emoji-picker-search-input-border-color: var(--blurple-color-text--secondary);
    --emoji-picker-search-input-border-color-focus: var(--blurple-color-button--primary);
    --emoji-picker-search-input-background: var(--blurple-color-background-darker);
    --emoji-picker-search-input-text-color: var(--blurple-color-text--secondary);
    --emoji-picker-search-icon-color: var(--emoji-picker-search-input-text-color);
    --emoji-picker-search-no-results-color: var(--blurple-color-text--secondary);
    --emoji-picker-variant-overlay-background: var(--emoji-picker-search-input-background);
    --emoji-picker-variant-popup-background: var(--emoji-picker-search-input-background);

    accent-color: var(--blurple-color-selection--blurple);
}

/*//////////////////////////////*\
| Theme styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

kbd {
    border-radius: var(--blurple-border_radius-border--code);
    font-size: 85%;
    line-height: 1.125rem;
    margin: 0;
    padding: 0 .2em;
}

button.text-button {
    border-radius: var(--blurple-border_radius-border);
}
button.text-button:disabled {
    opacity: .5; /* Theme-specific */
    pointer-events: none; /* Theme-specific */
    /* HTML elements should have tabIndex="-1" */
}
button.text-button:focus { /* Theme-specific */
    color: var(--button-text-color-hover);
    background: var(--button-background-hover);
    border-color: var(--button-border-color-hover);
}

dt:last-of-type {
    margin-bottom: .25rem;
}

.no-p-margin {
    line-height: var(--blurple-line_height-chat);
}

#reconnecting {
    width: 100dvw; /* Theme-specific */
    background: var(--blurple-color-background);
    color: var(--blurple-color-text--warning);
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
}

#loading {
    width: 100dvw; /* Theme-specific */
    height: 100dvh; /* Theme-specific */
    background-color: var(--blurple-color-background-darker);
}
#loading span {
    color: var(--blurple-color-text);
}

.floating-panel {
    border-radius: var(--blurple-border_radius-border);
    box-shadow: none;
}

.chatmod-container th[title] {
    border-bottom: 1px dashed var(--blurple-color-text--secondary);
}
.chatmod-container textarea {
    width: 100%;
    border: 1px solid var(--blurple-color-border);
}
.chatmod-container select, .chatmod-container input:not([type=check]):not([type=radio]) {
    border: 1px solid var(--blurple-color-border);
}

#drag-drop {
    font-size: 24px;
    text-shadow: none;
    border-radius: var(--blurple-border_radius-border);
}
#drag-drop-exit {
    font-size: 14px;
    text-shadow: none;
    border-radius: var(--blurple-border_radius-border);
}

#ui .bubble {
    border-radius: var(--blurple-border_radius-border);
    border: 1px solid var(--blurple-color-border); /* Theme-specific */
    transition: border-radius .5s ease-in-out;
}
#ui #loading-bubble.bubble {
    background-color: var(--bubble-background);
}

#main-bubble[position~="left"] { /* Theme-specific */
    left: 0;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-left: unset;
}
#main-bubble[position~="bottom"] { /* Theme-specific */
    bottom: 0;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-bottom: unset;
}
#main-bubble[position~="right"] { /* Theme-specific */
    right: 0;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: unset;
}

.thin-scrollbar {
    scrollbar-color: var(--blurple-color-text) transparent;
}

#palette {
    padding: 5px 0;
    border-top: 1px solid var(--undo-border-color);
}
#palette::-webkit-scrollbar-thumb {
    background-color: var(--blurple-color-text);
}
#palette::-webkit-scrollbar-thumb:hover,
#palette::-webkit-scrollbar-thumb:focus {
    background-color: var(--blurple-color-text--primary);
}
.palette-color {
    border-radius: calc(var(--blurple-border_radius-border) * 0.75);
    transition: border-color .1s ease-in-out;
}
.palette-button.active > .palette-color,
.palette-button.no-touch:hover > .palette-color,
.palette-button.no-touch:focus > .palette-color,
.palette-button.deselect-button.active {
    bottom: 0;
}
.palette-button.active > .palette-color {
    border-color: var(--blurple-color-text--primary);
}
.palette-button.active .palette-number {
    border-color: var(--blurple-color-text--primary);
}
.palette-button.deselect-button:not(.active) {
    visibility: hidden;
}
.palette-number {
    color: var(--palette-number-text-color);
    background-color: var(--palette-number-background-color);
    border: 1px solid var(--blurple-color-border);
    border-radius: calc(var(--blurple-border_radius-border) * 0.75);
    transition: border-color .1s ease-in-out;
}

#reticule {
    border: 2px solid var(--blurple-color-text);
    background-color: transparent;
}

#cursor {
    border: 2px solid var(--blurple-color-text--primary);
    border-radius: calc(var(--blurple-border_radius-border) * 0.75);
}
#cursor-text {
    border: 1px solid var(--blurple-color-border);
}

#undo {
    position: relative;
    background: radial-gradient(ellipse at bottom, var(--blurple-color-button--primary), transparent 75%);
    background-repeat: no-repeat;
}
#undo:hover,
#undo:focus { /* Theme-specific */
    background: radial-gradient(ellipse at bottom, var(--blurple-color-button--primary-darker), transparent 75%);
}
#undo.open {
    border: none;
}

#ui:has(#undo.open) #main-bubble[position~="bottom"][position~="right"] { /* Theme-specific */
    border-bottom-left-radius: var(--blurple-border_radius-border);
    border-bottom: 1px solid var(--blurple-color-border);
}
#ui:has(#undo.open) #main-bubble[position~="bottom"][position~="left"] { /* Theme-specific */
    border-bottom-right-radius: var(--blurple-border_radius-border);
    border-bottom: 1px solid var(--blurple-color-border);
}

#board-container {
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#grid {
    background-image: linear-gradient(to right, var(--blurple-color-background-darker) 1px, transparent 1px),
        linear-gradient(to bottom, var(--blurple-color-background-darker) 1px, transparent 1px);
}

header.transparent {
    background-color: transparent;
}

.panel {
    box-shadow: unset;
}
.panel-trigger {
    color: var(--blurple-color-background);
    transition: color .2s ease-in-out;
}
.panel-trigger:hover,
.panel-trigger:focus {
    color: var(--blurple-color-button--primary);
}
#lock-button:hover,
#lock-button:focus {
    color: var(--blurple-color-button--primary);
}
.panel-trigger:active {
    color: var(--blurple-color-button--primary-darker);
    transition: color .1s ease-in-out;
}
#lock-button:active {
    color: var(--blurple-color-button--primary-darker);
}
@keyframes has-notification {
    from { color: var(--blurple-color-background); }
    to { color: var(--notification-color); }
}
.panel-trigger .has-notification,
i.fas.has-notification,
i.far.has-notification {
    animation: has-notification 2s linear infinite alternate .5s;
}
@keyframes has-notification-hover {
    from { color: var(--blurple-color-button--primary); }
    to { color: var(--notification-color); }
}
.panel-trigger .has-notification:hover,
i.fas.has-notification:hover,
i.far.has-notification:hover,
.panel-trigger .has-notification:focus,
i.fas.has-notification:focus,
i.far.has-notification:focus {
    animation: has-notification-hover 2s linear infinite alternate .5s;
}
@keyframes has-notification-active {
    from { color: var(--blurple-color-button--primary-darker); }
    to { color: var(--notification-color); }
}
.panel-trigger .has-notification:active,
i.fas.has-notification:active,
i.far.has-notification:active {
    animation: has-notification-active 2s linear infinite alternate .5s;
}

.panel-body article:first-of-type {
    margin-top: 1rem;
}

.panel-body article:not(:last-child) {
    position: relative; /* Theme specific */
}
.panel-body article:not(:last-of-type)::before { /* Theme specific */
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    height: 1px;
    width: 45%;
    border-bottom: 1px solid var(--panel-article-text-color);
    opacity: .5;
}

.panel-body article p {
    margin: 0 0 .5rem;
}
.panel-body article > header {
    margin: 0 0 .5rem;
}
.panel-body article > header h1,
.panel-body article > header h2,
.panel-body article > header h3,
.panel-body article > header h4,
.panel-body article > header h5,
.panel-body article > header h6 {
    text-align: left;
    padding-left: 5%;
}

.panel.left {
    border-right: 1px solid var(--panel-border-color);
}
.panel.right {
    border-left: 1px solid var(--panel-border-color);
}

article:has(.pad-wrapper) > header::after { /* Theme-specific */
    content: '▶';
    padding-top: 5px;
    transform: rotate(90deg);
    transition: transform 0.2s ease-in-out;
    font-size: 75%;
}
article:has(.pad-wrapper.hidden) > header::after { /* Theme-specific */
    transform: rotate(0);
}

ul.chat-body li.chat-line:not(:last-child):not(:only-of-type) {
    padding: 10px 0;
    border: none;
}

.text-badge {
    background: var(--blurple-color-border);
    border-radius: 4px;
    color: var(--chat-badge-text-color);
}
header .text-badge {
    background: var(--blurple-color-border);
}

li.chat-line .user, #reply-label-username .user {
    text-shadow: none !important;
}

li.chat-line[data-id] .reply-button {
    transition: opacity .1s ease-in-out;
}

.chat-wrapper .chat-hints {
    font-weight: normal;
    color: var(--blurple-color-text--warning);
    border-radius: var(--blurple-border_radius-border);
}

.chat-ratelimit-overlay {
    background-color: var(--blurple-color-button--critical);
    color: var(--blurple-color-text--primary);
    text-shadow: none;
    font-size: 1.25rem;
}

.chat-line.purged > :not(.reply-preview), .reply-preview.purged {
    font-style: italic;
    color: var(--chat-purged-text-color);
    text-decoration: line-through;
}

#jump-to-bottom {
    width: 90%;
    left: 5%;
    transition: color .1s ease-in-out,
        background-color .1s ease-in-out;
}

#reply-label {
    border: 1px solid var(--blurple-color-border);
    border-bottom: none;
    border-radius: var(--blurple-border_radius-border) var(--blurple-border_radius-border) 0 0;
}
#txtChatContent { /* Theme-specific */
    border-radius: var(--blurple-border_radius-border);
}
#txtChatContent:focus { /* Theme-specific */
    border-color: var(--blurple-color-text);
}
#txtChatContent:focus-visible { /* Theme-specific */
    color: var(--blurple-color-text--secondary);
    accent-color: transparent; /* Theme-specific */
    outline: none; /* Theme-specific */
}

#emojiPanelTrigger {
    color: var(--input-placeholder-text-color);
}
#emojiPanelTrigger:hover,
#emojiPanelTrigger:focus {
    color: var(--blurple-color-text);
}

#typeahead {
    border: 1px solid var(--blurple-color-border);
    border-bottom: none;
    border-radius: var(--blurple-border_radius-border) var(--blurple-border_radius-border) 0 0;
}

@keyframes main-bubble-shake {
    0%   { transform: scale(1); }
    20%  { transform: scale(1.07); }
    40%  { transform: scale(1); }
    60%  { transform: scale(1.09); }
    80%  { transform: scale(1.05); }
    100% { transform: scale(1); }
}

#main-bubble.shake {
    animation: main-bubble-shake 500ms ease-in-out;
}

@keyframes -scrolled-flash {
    from {
        background: var(--blurple-color-background--focused);
    }
    80% {
        background: var(--blurple-color-background--focused);
    }
    to {
        background: var(--blurple-color-background--focused-finished);
    }
}
ul.chat-body .chat-line[data-id].-scrolled-to {
    animation: -scrolled-flash 1s linear;
}

.chat-line:hover, /* Theme-specific */
.chat-line:focus { /* Theme-specific */
    background-color: var(--blurple-color-border-focused) !important;
}

body .emoji-picker {
    --focus-indicator-color: var(--blurple-color-text--secondary);
}
.emoji-picker__search {
    border-radius: var(--blurple-border_radius-border);
}

.popup {
    border-radius: var(--blurple-border_radius-border);
    max-height: 100dvh; /* Theme-specific */
}

.chat-settings-wrapper input:not([type=checkbox]) {
    border: 1px solid var(--blurple-color-border);
}

.modal {
    min-width: 10dvw; /* Theme-specific */
    max-width: 96dvw; /* Theme-specific */
    max-height: 99dvh; /* Theme-specific */
}
.modal .modal-body {
    max-width: 98dvw; /* Theme-specific */
    max-height: 88dvh; /* Theme-specific */
}

@media (max-width: 600px) {
    .modal {
        min-width: 1dvw; /* Theme-specific */
        max-width: 95dvw; /* Theme-specific */
    }
}

button > i:only-child,
#logout-icon { /* Theme specific */
    transition: color .2s ease-in-out;
}

button > i:only-child:hover,
button > i:only-child:focus { /* Theme specific */
    color: var(--blurple-color-button--primary);
}
button > i:only-child:active { /* Theme specific */
    color: var(--blurple-color-button--primary-darker);
}
.panel-closer > i:only-child:hover,
.panel-closer > i:only-child:focus,
.deselect-button > i:only-child:hover,
.deselect-button > i:only-child:focus { /* Theme specific */
    color: var(--panel-close-button-color-hover) !important;
}
.panel-closer > i:only-child:active,
.deselect-button > i:only-child:active { /* Theme specific */
    color: var(--panel-close-button-color-active) !important;
}

#logout-icon:hover,
#logout-icon:focus,
#logout-icon:active { /* Theme specific */
    color: var(--blurple-color-text--critical);
}
